@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #141414;
}

button{
    width: 26vh;
    background-color: transparent;
    border-color: #ffffff;
    color: #ffffff;
    padding: .3vh;
    font-weight: bold;
    font-size: 2.5vh;
    margin-top: 1vh;
    border-radius: .7vh;
    cursor: pointer;
    outline: none;
    transition: all .3s ease-out;
    
    
}

button:hover{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

#sair{
    margin-top: 0.2em;
    width: 4em;
    height: 3.5em;
    font-size: 1em;
    padding: 0;
    border: none;
}


.logo{
    display: flex;
    padding: 15px 20px;
    font-size: 10pt;
}

#container{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color:#141414;  
}

#play_video{
    margin: 0px;
    background-color: #000000;
    padding: 0px;
    border-radius: 4px;
    width: 100%;
    height: 0%;  
    display: none;
}

.videoPlayer{
    position:absolute;
    background-color: #000000;
    width: 100%;
    height: 100%;
    
}




#temporadas{
    background-color: #181818;
    margin-top: 1em;
    width: 50em;
}

.type_logo{
    margin-bottom: 1em;
    height: 28em;
    width: 100%;
}

h2{
    margin-left: 1em;
    padding: 5px 5px;
    color: #ffffff;
}

#temp{
    display: flex;
    font-size: 13pt;
    background-color:  #242424;
    color: #ffffff;
    padding: 5px 15px;
    border-radius: 4px;
    border-color: #646464;
    width: 10em;
    height: 2.5em;
    outline: none;
    margin-top: -2em;
    margin-left: 35em;
}



.sele option{
    margin: 10px;
    padding: 25px;
    font-size: 15pt;
    width: 350px;
    height: 150px;
    border: solid black;

}

#episodios{
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.logo_imperio{
    padding: .1em;
    border-radius: 10px;
}

.btn_eps{
    
    align-items: center;
    display: flex;
    font-size: 1.5em;
    padding: .1em .1em ;
    margin-left: 1em;
    width: 31em;
    height: 5em;
    border:none;
    border-bottom: outset;
    border-color:#181818 ;
}

.btn_eps:hover{
    background-color:#44444450;
    color: #fffefe;
}

p{
    padding: .5em;
}


#x{
    background-color: #4d4c4c8c;
    border-color: #ffffff31;
    position: absolute;
    margin-left: -5vw;
    margin-top: 1vw;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    font-size: 3vw;
    
    
}

#x:hover{
    background-color: rgb(49, 49, 49);
    border-color: #ffffff;
    color: #ffffff;
}

#x:active{
    background-color: rgb(0, 0, 0);
}

#fechar{
    background-color: #4d4c4c8c;
    border-color: #ffffff31;
    position: absolute;
    margin-top: 1vw;
    margin-left: 95.2vw;
    width: 4vw;
    height: 4vw;
    font-size: 2vw;
    padding: 0;
    border: none;
    display: block;
    border-radius: 50%;
}

#fechar:hover{
    background-color: rgb(49, 49, 49);
    border-color: #ffffff;
    color: #ffffff;
}

#fechar:active{
    background-color: rgb(0, 0, 0);
}

#mute{
    background-color: #ffffff48;
    border-color: #ffffff48;
    position: absolute;
    margin-left: -100px;
    margin-top: 320px;
    width: 4vw;
    height: 4vw;
    border-radius: 100%;
    font-size: 3vw;
    background-repeat: no-repeat;
    background-size:cover;  
}

#mute:hover{
    background-color: rgba(255, 255, 255, 0.589);
    border-color: #ffffff;
    color: #ffffff;
}

#mute:active{
    background-color: rgba(114, 114, 114, 0.548);
}

#off{
    margin-top: 10%;
    margin-right: 10%;
    display: none;
}

#on{
    margin-top: 10%;
    margin-right: 10%;
    
}

/* IPHONE x*/

@media screen and (max-width:800px ) {

    #container{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 1em;;
        background-color:#141414; 
    }

    #temporadas{
        
        background-color: #181818;
        margin-top: .2em;
        width: 90%;
        height: 10%;
    }

    .type_logo{
        margin-bottom: 2em;
        width: 100%;
        height: 10%;
    }

    #temp{
    
        font-size: 70%;
        background-color:  #242424;
        color: #ffffff;
        padding: 5px 15px;
        border-radius: 4px;
        border-color: #646464;
        width: 45%;
        height: 8%;
        outline: none;
        margin-top: -3em;
        margin-left: 52%;
    }

    .sele option{
        margin: 10px;
        padding: 25px;
        font-size: 11pt;
        width: 350px;
        height: 150px;
        border: solid black;
    
    }

    h2{
        margin-left: 2%;
        padding: 5px 5px;
        color: #ffffff;
    }

    .btn_eps{
        align-items: center;
        display: flex;
        font-size: 1.5em;
        padding: .1em .1em ;
        margin-left: 2%;
        width: 95%;
        height: -.1%;
        border:none;
        border-bottom: outset;
        border-color:#181818 ;
    }

    p{
        font-size: 12pt;
        padding: .5em;
    }

    #x{
        position: absolute;
        margin-left: -8%;
        margin-top: 1%;
        width: 7vw;
        height: 7vw;
        border-radius: 50%;
        border:none;
        font-size: 4vw;
    }

    #mute{
        background-color: #ffffff48;
        border-color: #ffffff48;
        position: absolute;
        margin-left: -12%;
        margin-top: 35%;
        width: 7vw;
        height: 7vw;
        border-radius: 100%;
        font-size: 4vw;
        background-repeat: no-repeat;
        background-size:cover;  
    }

    #off{
        margin-top: 10%;
        margin-right: 10%;
        display: none;
    }
    
    #on{
        margin-top: 10%;
        margin-right: 10%;
        
    }

    #play_video{
        margin: 1px;
        background-color: #ffffff;
        padding: 0px;
        border-radius: 4px;
        margin-top: 2vh;
        width: 95%;
        height: 45%;  
        display: none;
    }

    .videoPlayer{
        position: relative;
        background-color: #000000;
        width: 100%;
        height: 60vw;
    }

    #fechar{
        position: absolute;
        margin-top: -58vw;
        margin-left: 86.2vw;
        width: 7vw;
        height: 7vw;
        font-size: 4vw;
        padding: 0;
        border: none;
        display: none;
        border-radius: 50%;
    }



    #log{
        margin-left: 10em;
        margin-top:-2%;
        width: 100%;
        height: 5vh;
        display: flex;
    }
 
}
