@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #141414;
}

#log{
    margin-left: 69.1em;
    margin-top:1.5%;
    width: 100%;
    height: 5vh;
    display: flex;
}

button{
    width: 26vh;
    background-color: transparent;
    border-color: #ffffff;
    color: #ffffff;
    padding: .3vh;
    font-weight: bold;
    font-size: 2.5vh;
    margin-top: 1vh;
    border-radius: .7vh;
    cursor: pointer;
    outline: none;
    transition: all .3s ease-out;
    
    
}

button:hover{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

#sair{
    margin-top: 0.2em;
    width: 4em;
    height: 3.5em;
    font-size: 1em;
    padding: 0;
    border: none;
}

#fechar{
    margin-top: -1%;
    margin-left: 96%;
    width: 1.2em;
    height: 1.2em;
    font-size: 1.8em;
    padding: 0;
    border: none;
    display: none;
    border-radius: 50%;
}

.logo{
    display: flex;
    padding: 15px 20px;
    font-size: 10pt;
}

#container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1em;;
    background-color:#141414;  
}

#play_video{
    background-color: #000000;
    padding: 0%;
    border-radius: 4px;
    width: 109vh;
    height: 62.5vh;
    display: none; 
}

.videoPlayer{
    background-color: #000000;
    position: absolute;
    width: 109vh;
    height: 63vh;
    border-radius: 4px;
}

#temporadas{
    background-color: #181818;
    margin-top: 1em;
    width: 50em;
}

.type_logo{

    margin-bottom: 2em;
    height: 25em;
}

h2{
    margin-left: 1em;
    padding: 5px 5px;
    color: #ffffff;
}

#temp{
    display: flex;
    font-size: 13pt;
    background-color:  #242424;
    color: #ffffff;
    padding: 5px 15px;
    border-radius: 4px;
    border-color: #646464;
    width: 10em;
    height: 2.5em;
    outline: none;
    margin-top: -2em;
    margin-left: 35em;
}



.sele option{
    margin: 10px;
    padding: 25px;
    font-size: 15pt;
    width: 350px;
    height: 150px;
    border: solid black;

}

#episodios{
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.logo_imperio{
    padding: .1em;
    border-radius: 10px;
}

.btn_eps{
    
    align-items: center;
    display: flex;
    font-size: 1.5em;
    padding: .1em .1em ;
    margin-left: 1em;
    width: 31em;
    height: 5em;
    border:none;
    border-bottom: outset;
    border-color:#181818 ;
}

.btn_eps:hover{
    background-color:#44444450;
    color: #fffefe;
}

p{
    padding: .5em;
}


#x{
    position: absolute;
    margin-left: 745px;
    margin-top: 15px;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border:none;
    font-size: 14pt;
}

#x:hover{
    background-color: rgb(49, 49, 49);
    color: #ffffff;
}

#x:active{
    background-color: rgb(0, 0, 0);
}

/* IPHONE x*/

@media screen and (max-width:800px ) {

    #container{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 1em;;
        background-color:#141414; 
    }

    #temporadas{
        background-color: #181818;
        margin-top: .2em;
        width: 24rem;
        height: 12rem;
    }

    .type_logo{
        margin-bottom: 2em;
        height: 12rem;
    }

    #temp{
        display: flex;
        font-size: 11pt;
        background-color:  #242424;
        color: #ffffff;
        padding: 5px 15px;
        border-radius: 4px;
        border-color: #646464;
        width: 10em;
        height: 2.2em;
        outline: none;
        margin-top: -2.5em;
        margin-left: 16.2em;
    }

    .sele option{
        margin: 10px;
        padding: 25px;
        font-size: 11pt;
        width: 350px;
        height: 150px;
        border: solid black;
    
    }

    h2{
        margin-left: -0.1em;
        padding: 5px 5px;
        color: #ffffff;
    }

    .btn_eps{
        align-items: center;
        display: flex;
        font-size: 1.5em;
        padding: .1em .1em ;
        margin-left: 0em;
        width: 16em;
        height: 3.5em;
        border:none;
        border-bottom: outset;
        border-color:#181818 ;
    }

    p{
        font-size: 12pt;
        padding: .5em;
    }

    #x{
        position: absolute;
        margin-left: 85%;
        margin-top: 1%;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border:none;
        font-size: 18pt;
    }

    #play_video{
        margin: 1px;
        background-color: #000000;
        padding: 0px;
        border-radius: 4px;
        width: 95%;
        height: 100%;  
        display: none;
    }

    .videoPlayer{
        margin-top: 10%;
        background-color: #000000;
        width: 95%;
        height: 45%;
    }

    #fechar{
        position: absolute;
        margin-top: 0%;
        margin-left: 86%;
        width: 1.2em;
        height: 1.2em;
        font-size: 1.8em;
        padding: 0;
        border: none;
        display: none;
        border-radius: 50%;
    }

    #fechar:hover{
        background-color: rgb(49, 49, 49);
        color: #ffffff;
    }
    
    #fechar:active{
        background-color: rgb(0, 0, 0);
    }

    #log{
        margin-left: 10em;
        margin-top:-2%;
        width: 100%;
        height: 5vh;
        display: flex;
    }
 
}
